<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.requestLegacyExternalStorage"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyClassApp"
        tools:targetApi="tiramisu">
        <activity
            android:name=".MyClassHomeViewActivity"
            android:theme="@style/Theme.MyClassApp.custom"
            android:exported="false" />
        <activity
            android:name=".LoginUserEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.MyClassApp.custom" />
        <activity
            android:name=".AddClassActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyOtpActivity"
            android:exported="false"
            android:theme="@style/Theme.MyClassApp.custom" />
        <activity
            android:name=".RegisterEmailUserActivity"
            android:exported="false"
            android:theme="@style/Theme.MyClassApp.custom" />
        <activity
            android:name=".LoginMobileActivity"
            android:exported="true"
            android:theme="@style/Theme.MyClassApp.custom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>